body{
    height: 200px;
    width: 300px;
}

.container{
    margin: 10px;
    display: block;
}

.form-control{
    margin-top: 5px;
    margin-bottom: 5px;
}

.form-label{
    display: block;
    font-size: 17px;
}

.form-input{
    display: block;
    width: 100%;
    height: 30px;
    padding: 5px;
    border-radius: 10px;
    border: 2px solid rgb(192, 192, 192);
    font-size: 13px;

}

.form-button{
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 4px;
}
